input#search(type='text', placeholder='Search')
if types
  select#filter
    option(value='') filter by
    - each type in types
      option(value=type)= type
select#sort
  option(value='asc') sort
  option(value='asc') asc
  option(value='desc') desc